* {
    margin: 0;
    padding: 0;
}

/*CSS BANNER*/
#banner {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background: #333;
    padding: 15px;
    color: #fff;
}

.banner-number {
    font-size: 50px;
    position: absolute;
    top: 5px;
}

.color-common {
    color: #de7a20;
}

/*CSS MENU*/
#menu ul li {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid #333;
}

#menu ul {
    background: #666;
}

#menu ul li a {

    text-decoration: none;
    color: white;
}

/*CSS MAIN*/
#main-left {
    width: 70%;
    float: left;
    margin-bottom: 50px;


}

#main-right {

    width: 30%;
    float: left;



}
.right-common{
    margin-left: 15px;
}
#footer{
    font-size: 20px;
    padding: 15px;
    clear: both;
    color: white;
    text-align: center;
    background: #333333;
}

.left-content {
    margin-bottom: 40px;
    display: table;
    /*padding: 15px;*/
}

.wrap-avatar, .wrap-content {
    display: table-cell;
}

.wrap-content {
    vertical-align: top;
    padding-left: 20px;

}

.content-heading {
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

.content-description {
    line-height: 1.6;
}
.other-description{
    margin-top: 30px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.content-readmore{
    margin: 15px 0;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.left-content-wrap{
    padding: 15px;
}
.sidebar-heading{

    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#sidebar-link ul li {
    display:block;
    padding: 10px;
}

#sidebar-link ul {
    margin-top: 30px;

}

#sidebar-link ul li a {
    text-decoration: none;
}