* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'QlassikBold_TB';
    src: url("../font/QlassikBold_TB.ttf");
}
/* css full container*/
#full-container{
    position: relative;
    margin: auto;
    width: 100%;


}
#banner1{
    padding-left: 370px;
    background: #dceced;
    font-size: 30px;
    color:#3a6669;
    height: 100px;

}
.textbanner{
    padding-top:30px;
    font-family: QlassikBold_TB;

}
#banner2{
    height:150px;
    background:#684f40;
}

/*css main*/
#main{

    position: absolute;
    z-index: 999;
    left: 350px;
    top: 135px;
    background:#fefae8;
    width:65%;
    clear: bottom;
}
#menu{
    margin: 0 auto;
    width : 100%;
}
#menu ul li {

    text-align: center;
    width:17%;
    display:inline-block;
    padding: 15px;
    border-left: 1px solid #ffffff;
}

#menu ul {
    width: 100%;
    background: #8aae3b;
    list-style-type:none;
    padding:0px;
    margin:0px;
}



#menu ul  a {

    color: #ffffff;
    text-decoration: none;
}
/* banner*/
#conten{
    background-image:url(../img/bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 95%;

}
#avatar{
    width: 40%;
    float: left;
}
.avt{
    margin-left: 120px;
}
#textavt{
    margin-top: 15px;
    text-align: center;
    width: 60%;
    float: left;
}
.textavt1{
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
}
.textavt2{
    font-size: 20px;
    color: orange;
}
/* submit*/
.submit{
    clear: both;
    background:#fefae8;
}

#textsb{
    width: 80%;
    float: left;
    padding-top: 7px;

}
#submit{
    width: 20%;
    float: left;
}
/* main*/
#main-left {
    width: 50%;
    float: left;
    margin-bottom: 50px;



}

#main-right {

    width: 50%;
    float: left;

}
.saider{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
    color:#8aae3b;
    margin-bottom: 15px;
}
.text{
    margin-left: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.textem{
    margin-left: 40px;
}
.textcolor{
    color: orange;
    margin-left: 15px;
}
/*css footer*/
#footer{
    text-align:justify;
    height:800px;
    background:#b1a38d;

}
#footer ul li {
    display:inline-block;
    padding: 15px;
    border-right: 1px solid #333333;
}

#footer ul {
    padding-top: 730px;
    padding-left: 370px;

}

#footer ul li a {
    color: #333333;

    text-decoration: none;
}