*{
    margin: 0;
    padding: 0;
}
/* header*/
#header{

}
#logo{
    font-size: 34px;
    text-transform:uppercase;
    margin-left: 50px;
}
.txtlg{
    margin-top: 30px;
}
#full-container{
    line-height: 1.6;

}
/* main*/
#main-top-1{

    padding-bottom: 30px;
    padding-bottom: 30px;
}
.main-top-lelf{
    padding-bottom: 30px;
    width: 50%;
    float: left;


}
.main-top-right{
    padding-bottom: 30px;

    width: 50%;
    float: left;
}
/*text*/
.text-1{
    font-family: 'Arial', sans-serif;
    padding-bottom: 20px;
    color:#df9c31;

}
.text-2{
    font-family: QlassikBold_TB;
    padding-bottom: 20px;
    font-size: 38px;
    color: #626262;
}
.text-3{
    color: #626262;
    font-family: 'Arial', sans-serif;
    padding-bottom: 20px;
}


#sign-email{
    font-size: 24px;
    background-color: #f0f0f0;
    clear: both;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
}
.sign{
    padding-top: 30px;

}
/* menu*/
#banner{
    margin-left: 400px;
    margin-top: 150px;
    margin-bottom: 50px;
}
#menu{

    font-size: 24px;
    margin: 0 auto;
    width : 50%;
    float: right;
}
#menu ul li {

    text-align: center;
    width:17%;
    display:inline-block;
    padding: 15px;
    border-left: 1px solid #ffffff;
}

#menu ul {
    width: 100%;
    list-style-type:none;
    padding:0px;
    margin:0px;
}



#menu ul  a {

    color: #626262;
    text-decoration: none;
}

#loadmore{
    text-align: center;
    clear: both;

    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 30px;
}

/* footer*/
#footer{
    text-align: justify;
    height: 500px;

}
#fooetr-lelf{
    margin-top: 450px;
    width: 70%;
    float: left;
}
.text-footer{
    margin-left: 50px;

}
#footer-right{
    margin-top: 450px;
    width: 30%;
    float: left;
}