body {
    z-index: 1;
    width: 100%;
    background-color: #a9d8d2;
    line-height: 2;
}

#heading {
    text-align: center;
}

p {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#btn{
    background-color: #59ace0;
    color: white;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 35px;
}

#full-content {
    z-index: 2;
    width: 95%;
    background-color: #fafafa;
    margin: 0 auto;
    padding: 30px 3px 3px 3px;
}

table {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

td {
    width: 30%;
}

.cauhoi {
    vertical-align: baseline;
    text-align: right;
}

.nhaplieu {
    text-align: left;
}