*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    background-color: #daeaeb;
}
@font-face {
    font-family: Qlassik;
    src: url("font");
}
#logo{
    font-family: Qlassik;
    font-size: 24px;
    padding-top: 48px;
    padding-left: 340px;
    padding-bottom: 45px;
}
#main{
    position: relative;
}
#color{
    background-color:#553f33;
    height: 200px;
}
#wall{
    height: 626px;
    background-color: #b1a38d;
}
#main-child{
    width: 60%;
    margin-left: 320px;
    background-color: #fefae8;
    position: absolute;
    top: 35px;
}
#main-conten{
    width: 96%;
    margin-left: 20px;
    padding-top: 25px;
}
#menu ul{
    list-style-type: none;
    display: block;
    text-align: center;
    background-color:#8bb13c;

}
#menu ul li{
    display: inline-block;
    border-right: 1px solid white;
    width: 185px;
    height: 45px;
    line-height: 45px;


}
#menu ul :last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    color: white;
    display: block;

}
#menu ul li a:hover {
    background-color: white;
    color: black;
}
#banner{
    text-align: center;
    margin-top: 20px;
}
#thanks{
   line-height: 40px;
    font-size: 15px;
    font-family:Georgia;
    padding-left: 25px;
    display: table;
}
#bt{
    display: table-cell;
    width: 15%;
}
#thank{
    display: table-cell;
    width: 85%;
}
#button{
    width: 125px;
    height: 30px;
    background-color: #e19e33;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 14px;
}
#conten-letf{
    width: 48%;
    float: left;
    padding-right: 30px;
    line-height: 20px;
    padding-top: 20px;

}
.h2{
    font-family:Arial;
    color: #7b9d33;
}
#conten-right{
    width: 48%;
    float: left;
    line-height: 20px;
    padding-top: 20px;

}
.pragrath{
    font-family:Arial;
    font-size: 15px;
}
#last{
    padding-bottom: 15px;
}
.color-p{
    color: #cf8b1f;
    font-family: Arial;
    font-size: 14px;
}
#menu1 ul{
    list-style-type: none;
    padding-left: 317px;
    background-color: #b1a38d;

}
#menu1 ul li{
    display: inline-block;
    padding: 10px;
    border-right: 1px solid;
}
#menu1 ul li a{
    text-decoration: none;
    color: #463328;
    font-size: 14px;
    font-family: Arial;
}
#footer{
     background-color: #b1a38d;
}
#menu1{
    padding-top: 25px;
    padding-bottom: 20px;
}
#menu1 ul :last-child{
    border-right: none;
}


