*{
	padding: 0px;
	margin: 0px;
}

.main{
	width: 450px;
	padding: 20px 20px;
	margin: 30px auto;
	background-color: #dfe6e9;	
}

.myForm{
	margin-bottom: 20px;
}

.myForm label{
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
}

.my-input{
	width: 90%;
	height: 22px;
	padding: 5px 10px;
}

.input-submit{
	padding: 5px 20px;
	background-color: #d63031;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
}

