* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: QlassiBold;
    src: url("../fonts/QlassikBold_TB.ttf");
}
#left{
    width: 15%;
    height: auto;
    float: left;
}
.top{
    background-color: #daeaeb;
    padding-bottom: 68.5%;
}
.between{
    background-color: #574134;
    padding-bottom: 85%;
}
.bottom{
    background-color: #b1a38d;
    padding-bottom: 369%;
}
#main{
    width: 70%;
    background-color: #574134;
    float: left;
}
#design{
    background-color:#daeaeb ;
    padding: 55px;
    font-family: QlassiBold;
    color: #3a6669;
    font-size: 25px;
}
#main-header{
    margin-top: 15px;
}
#menu ul{
    background-color: #83a637;
}
#menu li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    width: 154px;
    text-align: center;
    border-left: 1px solid #bbdc75;
}
#menu a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}
#menu li:hover{
    background-color: #fff;
}
#menu a:hover{
    color: black;
}
#banner{
    background-color: #fff;
    padding: 20px;
}
#banner img{
    height: 180px;
    width: 900px;
    border: 3px solid #e3d8c5;
}
#slogan{
    background-color: #fff;
    padding: 5px;
}
#slogan p{
    font-family: Georgia;
    font-style: italic;
    padding:3px 0px 0px 22px;
    margin-left: 12px;
    float: left;
}
#slogan input{
    border-radius: 5px;
    background-color: #d9952a;
    width: 135px;
    padding: 3px;
    margin-left: 21px;
    color: #fff;
}
hr{
    width: 96%;
    margin: 10px 0px 10px 22px;
}
#main-content{
    background-color: #fff;
}
.h3{
    color: #7b9d33;
    font-size: 24pt;
    font-family: Arial;
    padding-bottom: 15px;
}
.h5{
    color: #cf8b1f;
    font-weight: bold;
    padding-bottom: 15px;
}
.fonts{
    font-family: Arial;
    font-size: 14pt;
}
.p1{
    padding-bottom: 20px;
}
#content-left{
    float: left;
    width: 50%;
}
#content-right{
    width: 50%;
    float: left;
}
#main-footer{
    background-color: #b1a38d;
}
#main-footer ul{
    padding: 15px;
}
#main-footer li{
    list-style: none;
    display: inline-block;
    border-right: 1px solid grey;
}
#main-footer a{
    color: #463328;
    text-decoration: none;
}
#right{
    width: 15%;
    float: left;
    background-color: #b1a38d;
}