*{
	padding: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.main{
	width: 600px;
	margin: 30px auto;
	padding: 20px;
	background-color: #f5f6fa;
}


.myForm{
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	/*margin-top: 5px;*/
}

.form-input{
	margin: 10px 0px;
	
}

textarea{
	width: 100%;
}

input[type="checkbox"]{
	margin-bottom: 10px;
}
input[type="file"]{
	border: 1px solid #eee;
}

button{
	width: 100%;
	text-align: center;
	padding: 5px 0px;
	margin-top: 10px;
	/*border: 1px solid transparent;*/
}

p{
	margin: 5px 0px;
}

.result{
	width: 600px;
	margin: 30px auto;
	padding: 20px;
	background-color: #f5f6fa;
}

span{
	color: red;
	font-style: italic;
	margin-top: 5px;
	display: block;
	font-size: 12px;
	margin-left: 5px;
}