*{
    margin: 0;
    padding: 0;
    font-family:'Fira Sans Condensed', sans-serif;
}
@font-face {
    font-family: 'Fira Sans Condensed', sans-serif;
}
#header{
    background: #dceced;
    height: 80px;
    z-index: 1;
    width: 100%;
}
#full-container{

    position:absolute;
    z-index: -1;
    width: 100%;
    height: 700px;
}
#header .join-header{
    line-height: 80px;
    margin-left:170px;
    font-size: 24px;
    color: #3a6669;
}
#menu{
    width: 79.79%;
    height: 690px;
    position:absolute;
    top: 110px;
    left: 150px;
    background: #fefae8;
    z-index:1;
}
#menu1 ul li{
    display: inline-block;
    padding: 15px;
    border-right: 1px solid wheat;
    width: 218px;
}
#menu1 ul{
    background:#80a336;
}
#menu1 ul li a{
    color: #544235;
    text-decoration: none
}
#menu1 ul li:hover{
    background: #fefae8;
}
#menu #image{
    margin-left: 15px;
    margin-top: 15px;
}
#d{
    height: 200px;
    background:#584235;
}
#main{
    height: 550px;
    background: #b1a38d;
}
#footer{
    background: #b1a38d;
    width: 100%;
    height: 50px;
    color: white;
    clear: both;

}

#footer .menu a{
    text-decoration: none;
    color: #544235;
}
#footer .menu{
    margin-left: 170px;
}

#banner{
    margin-top: 20px;
}
.banner-tks{
    padding: 10px;
    font-size: 16px;

}
.banner-button{
    float: right;
    background: #da962b;
    width: 100px;
    border-radius: 8px;
    padding: 3px;
}
#content-left{
    width: 50%;
    float: left;
}
#content-right{
    width: 50%;
    float: left;
}
.content-heading{
    color: #7b9d33;
    margin-left: 20px;
}
.content{
    margin-top: 15px;
    margin-left: 20px;
}
.design{
    color:#da962b ;
}