*{
	margin: 0px;
	padding: 0px;
	font-family: "Roboto",arial;
}
body{
	width: 919px;
	/*height: 600px;*/
	margin: 0px auto;
	/*border: 1px solid #CDC3AE;*/
	 margin-top: 20px;
	 margin-bottom:20px;
}

#menu{
	background: #83A637;
	 width: 919px;
}
#menu ul {
	list-style-type: none;
}
#menu ul li {
	display: inline-block;
	line-height: 40px;
	border-right: 1px solid #A6CA5B;
	text-align: center;
	padding-right: 55px;
	padding-left: 70px;
	position: relative;
  }
  #menu ul li:last-child{
	  border-right:0px
  }
#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;

}
#menu ul li a:hover{
	color: black;
}
#menu ul li:hover{
	background: #FEFAE8; 
}
#menu ul li.active{
	background: #FEFAE8; 
	color:#000;
}
#menu ul li.active a{
	color:#000;
}
/*body #banner{
	width: 100%;
	overflow: hidden;
}
.banner-avatar{
	/*width: 100%;*/
	/*background: #5F483A url('bt2.jpg') no-repeat;
	float: left;
	width: 30%;*/
/*}*/
/*.banner-wrap{
	float: left;
	width: 50%;
	margin-left: 100px;

}
.color{
	color: 
}*/
/**/

#contanier{
	background: #FEFAE8;
	overflow: hidden;
	/*border: 1px solid #CDC3AE;*/
	height: 500px;

}
#banner img{
	width: 880px;
	height: 150px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
#banner{
	background: #FEFAE8;
}

.contanier-title{
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 40px;
}
.contanier-p{
	float: left;
	margin-left: 20px;
}
#button{
	margin-left: 150px;
	border-radius: 10px;
	height: 30px;
	width: 100px;
	background: #E09B2E;
	color: white;
}
#main-left{
	float: left;
	width: 46%;
	margin-top: 20px;
	margin-left:20px;
}
#main-right{
	float: right;
	width: 50%;
	margin-top: 20px;
}
.right-content{
	
}
.right-titile{
	color: #E2BB7D;

}
.color-common{
	color: #90ab53;
	
}
.wrap-content-p{
	margin:20px 0 0 0;
}
h3.right-titile {
	margin: 10px 0 0 0;
  }
