/*header*/
#header {
    width: 957px;
    height: 366px;

}
#header img {
    float: left;
}
#header ul {
    list-style-type: none;
    /*text-align right;*/
    /*overflow: hidden;*/
    padding-left: 450px;
    padding-top: 60px;
}
#header ul li{float: left;
                font-size: 30px;
            padding-left: 30px;
}
#header ul li a{text-decoration: none;
                color: black;
}
.backgroud{padding:20px;}

/*content*/
#content{width: 675px;
        height: 505px;
        float: left;
}
#content p{padding-left: 20px;

}
.content img{float: left;
            padding-left: 10px;
}
.noidung{float: left;
        font-size: 20px;
    padding-left: 20px;
}

/*sidbar*/
#sidbar{width: 283px;
        height: 505px;
        float: left;
        color: white;
        /*background: yellow;*/
}
#sidbar p{padding-left: 15px;
           font-family: Arial;
}
.picture{padding-left: 15px;
}
#sidbar2{width: 250px;
        height: 450px;
        background: gray;
        padding-top: 20px;
}
/*footer*/
#footer{width: 958px;
        height: 162px;

}
.left{float: left;
        width: 266px;
        height: 144px;
    padding-left: 20px;
}
.center{float: left;
        width: 320px;;
        height: 144px;

}
.right{width: 350px;
height: 144px;
float: left;

}

/*tuy chon khac*/
.clear{clear: both;
}
.color-page{   background: #fff7da;
    width: 958px;
    height: 1036px;
}
