.form1{
    width: 700px;
    background: #f8f9fa;
    padding-top:50px;
    padding-bottom: 50px;
    padding:50px 40px;
}
#masage{
    height: 100px;
}
#show{
    padding-top: 40px;
    color: blue;
}