/**{margin: 0px;*/
/*padding: 0px;}*/

#block1{width: 1600px;
        height: 120px;
        background-color: #d4e4e5;
        font-family: "font1";
}
.header1{padding-left: 300px;}

#block2{width: 1600px;
        height: 196px;
        background-color: #5d4638;
}
#block3{width: 1600px;
        height: 635px;
        background-color: #b1a38d;
}
/*Phan navigation*/
#nav{width: 980px;
    height: 46px;
    background-color: #8aaf3b;
}
#nav ul{list-style-type: none;
            text-align: center;

}
#nav ul li{display: inline-table;
            height: 40px;
            width: 184px;
            line-height: 45px;
            border-right: 1px solid #ffffff;
}
/*Phan background*/
#background{width: 980px;
            height: 292px;

}
#background img{padding-left: 33px;
                padding-top: 27px;
}
/*Phan content*/
#main-content{width: 980px;
                height: 495px;
                background-color: #fefae8;
                font-family: Arial;

}

#content-left{width: 498px;
                height: 430px;
                float: left;
                padding-left: 15px;
}
@font-face {
    font-family: 'font1';
    src: url("./Font/QlassikBold_TB.ttf");
}
#content-right{height: 430px;
                width: 462px;
                float: left;

}
.content-heading{color: #7b9d33
}
.button{background-color:#d79428;
        font-size: 16px;
        font-family: "Arial";
        color: white;
        border-radius: 14px;
        text-decoration: none;
        display: inline-table;
        width: 108px;
        height: 46px;
        line-height: 44px;
        position: relative;
        top: 0px; left: 125px;
}



#full-container{width: 980px;
                height: 838px;
                background-color: #fefae8;
                margin-top: -17px;
                position: relative;
                top: -250px;
                left: 280px;
}
.clear{clear: both;}