body {
    background-color: #ccccff;
    line-height: 1;
}

.do {
    color: #550000;
}

.xanh {
    color: #000055;
}

h1 {
    margin-left: 30px;
}

p {
    margin-left: 60px;
}

table{
    border: 5px dashed black;
}
td{
    width: 550px;
}