*{
    margin: 0;
    padding: 0;
}
.header{
    color: white;
    margin:20px 100px;
}
ul{
    list-style-type: none;
}
.menu-ctn a{
    text-decoration: none;
    color: white;
}
.menu-ctn ul{
    position: absolute;
    top: 42px;
    left: 0;
}
.menu-ctn > li{
    display: inline-block;
    float: left;
    width: 150px;
    line-height: 1.5em;
    position: relative;
    text-align: center;
    background-color:#008000 ;
    padding: 10px 15px;
    transition: all 0.8s ease;
}
.menu-ctn li:hover{
    background-color: #E5A400;
    cursor: pointer;
}
#dropdown{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
    background-color:#008000;
}
#dropdown.active{
    display: block;
}

/*body{*/
    /*font-family: sans-serif;*/
    /*font-size: 24px;*/
/*}*/
/*#menu{*/
    /*width: 1000px;*/
    /*height: 100px;*/
    /*background: #008000;*/
    /*margin: 0px auto;*/
    /*margin-top: 80px;*/
    /*padding: 50px 0px 0px 80px;*/
/*}*/
/*#dropdown ul{*/
    /*list-style-type: none;*/
/*}*/
/*#dropdown ul li{*/
    /*display: inline-block;*/
/*}*/
/*#dropdown ul li a{*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*padding-left:20px;*/
    /*padding-right: 20px;*/
/*}*/
/*#dropdown ul li a:hover{*/
    /*color:#E5A400;*/
/*}*/
/*#menu ul li > .sub_menu{*/
    /*display: none;*/
    /*position: absolute;*/
/*}*/
/*#menu ul li:hover .sub_menu{*/
    /*display: block;*/
/*}*/
/*#menu ul li ul.sub_menu li a {*/
    /*padding-left: 10px;*/
/*}*/

/*#menu ul li ul.sub_menu li {*/
    /*width: 100%;*/
/*}*/
/*#menu ul li ul.sub_menu {*/
    /*width: 200px;*/
    /*background:#008000;*/
/*}*/