#wall{
    background-color: #fff9d9;
    margin: 0 auto;
    width: 910px;
    height: auto;
}

#banner{
   height: 115px;
    background-color: #fff9d9;
}
#anh{
    float: left;
}
#menu{
    width: 400px;
    height: 60px;
    background-color:#fff9d9;
    float: right;
    margin-top: 55px;
}
#menu ul {
    list-style-type: none;

}
#menu ul li{
    display: inline-table;
    width: 80px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a{
    text-decoration: none;
    color: black;
}
hr{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}
#anh1{
    clear: both;
    padding-top: 10px;
}
#conten_left{
    clear: both;
    width: 70%;
    background-color:#fff9dc;
    float: left;
    height: 575px;
   margin-top: 0px;
}
#conten_right{

    width: 30%;
    background-color: #706b64;
    float: left;
    height: 506px;
    border-radius: 10px;
}
#tieude{
    background-color:#fff9d9;
    padding-left: 20px;
    height: 84px;
}
#anh2{

    float: left;
    padding-top: 15px;
    margin-left: -20px;
}
#tieude1 {
    font-size: 20px;
    padding-top: 35px;
    background-color: #fff9dc;
}
.paragrath1{
    text-align: justify;
    line-height: 20px;
    padding-right: 15px;
    font-size: 17px;
}
.paragrath2{
    text-align: justify;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
#conten_right1{

    padding-left: 15px;
    padding-top: 20px;
    font-family: "cursive";
    font-size: 20px;
}
#lk{
    padding-left: 10px;
}
.a{
    display: inline-table;
}
#hr1{
    margin-bottom: 0px;
}
#footer{
    clear: both;
    height: 150px;

}
#footer1{
    width: 250px ;

    padding-top: 5px;
    float: left;
}
.b{
    font-size: 20px;

}
#footer2{
    float: left;
    width: 320px;
}
#footer3{
    float: left;
}
.friend ul{
    list-style:circle;
    padding-left: 0;

}
.friend1 ul{
    list-style:circle;
    padding-left: 0;

}
.friend{
    float: left;
   margin-top: -20px;
}
.friend1{
    float: left;
    margin-top: -20px;
}
.friend1 ul{
   margin-left: 60px;

}




