*{margin: 0px;
}

/*Phan header*/
#header{width: 1200px;
        height: 672px;

}
.background{padding-left: 60px;
}
#menu img{float: left}
#header ul{list-style-type: none;
            text-align: right;
            padding-top: 80px;
}

#header ul li{display: inline-block;
            width: 130px;
            height: 40px;
            padding-right: 56px;
}
/*Phan content*/
#main-content{width: 1200px;
                height: 3200px;
            font-family: font2;
}
#main-content h2{padding-left: 20px;
                padding-bottom: 20px;
                font-size: 28px;
}
@font-face {
    font-family: 'font2';
    src: url("./font/PlayfairDisplay-Black.ttf");
}
/*phan sig in*/
#sigup{height: 282px;
        width: 1200px;
        background-color: #f0f0f0;
}
#sigup p{padding-top: 92px;
}
.content1{padding-left: 30px;
}
.content-shadow{padding-left: 30px;
                padding-top: 77px;
                 padding-bottom: 20px;
}
.title-cell{padding-bottom: 20px;
            font-size: 28px;
}
/*Phan footer*/
#footer{width: 1200px;
        height: 101px;
        background-color: #f0f0f0;
        font-family: font2;
}
#footer p{padding-left: 20px;
           padding-top: 10px;
}
#footer img{float: right;
            padding-right: 15px;
}

