*{
    margin: 0px;
    padding: 0px;

}
@font-face {
    font-family: 'qlassikbold';
    src: url("../fonts/qlassik/QlassikBold_TB.otf");
    font-style: normal;
}


.blue {
    height: 120px;
    background-color: #daeaeb;
    font-family: qlassikbold;


}
.blue-text{
    font-size: 30px;
    color: #3a6669;
    margin-left: 20%;
    padding-top: 3%;
}
.brown1{
    height: 200px;
    background-color:#5e4739 ;
}
.brown2{
    height: 630px;
    background-color: #b1a38d;
}
#website{
    position: absolute;
    margin-top: -42%;
    margin-left: 18%;
    background-color: #fefae8;
    width: 50.3%;
}

.main-list li{
    display: inline-block;

    background-color: #8aaf3b;

    border: 1px solid #7b9c33;
    text-align: center;
    margin-right: -3px;
    padding: 20px;
    width: 148.88px;


}
.main-list li a{
    text-decoration: none;
    margin-top: 5px;
    color: white;

    font-family: Arial;
    font-size: 14px;
}
.main-images img{
    margin-left: 27px;
    margin-top: 20px;
    border: 3px solid #e3d8c5;
}
.list-heading-color{
    color: #7b9d33;
}
.thanks{
    border-top: 1px solid #e3d7c5;
    border-bottom: 1px solid #e3d7c5;
    width: 915px;
    margin: auto;
    height: 30px;
    margin-top: 15px;

}
.thanks-text{

    margin-top: 5px;
    font-style: italic;
}
.text{
    color: #463328;
}

.thanks-link{

    text-decoration: none;
    font-style: normal;
    padding: 2px;
    color: white;


}
.thanks-link-link{
    background-color: #d69226;


    position: absolute;
    margin-left: 770px;
    margin-top: -22px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 100px;

}
.wrapper-text{
    display: table;
}
.left-text, .right-text{
    display: table-cell;
    width: 50%;
    padding: 25px;
}
.heading{
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    color: #7b9d33;
}
.text{
    padding-top: 15px;
    padding-bottom: 15px;
}
.list{
    background-color: #b1a38d;
}
.list li{
    display: inline-block;



}
.list li a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #463328;
    border-right: 1px solid #463328 ;
    margin-bottom: -15px;



}
.list li .list-link-link{
    border-right: 1px solid #b1a38d;
}
