ul{
    list-style-type: none;
    text-align: center;
    background-color: #008000;


}
#menu{
    width: 50%;
    height: 60px;
    padding-left:25%;
}
#menu ul li{
    display: inline-table;
    width: 120px;
    height: 60px;
    line-height: 60px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;


}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

body{
    font-family: "sans-serif";
    margin: 0 auto;
}
#menu ul li a:hover{
    color:#efa300;
}
#menu ul li>ul{
    display: none;
    position: absolute;
    width: 120px;

}
#menu ul li>ul li{
    padding-left: 0;
    margin-left: -35px;
   
}
#menu ul li:hover ul{
    display: block;
}
