.head{
    background: #f7f9fa;
    color: #3498db;
    padding: 10px 20px;
    border-bottom: 2px solid #bdc3c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bt4{
    margin-top: 20px;
}
.left{
    border: 2px solid #bdc3c7;
    border-radius: 10px;
}
.form{
padding: 20px;
}
.right{
    border: 2px solid #bdc3c7;
    border-radius: 10px; 
}
.list{
    padding: 20px;
}
.bt{
    width: 100%;
    margin-bottom: 10px;
    
}
.red{
    color: red;
}
.blue{
    color: blue;
}
