.container{

    margin: 40px auto;

    border: 2px solid #a9d7d1;

    width: 700px;

    height: auto;

    background: #a9d7d1;



}

.container #a{

    text-align: center;

    font-size: 30px;

}

.menu{

    margin: 10px 5px;

    margin-left: 5px;

    background: white;

}

.menu #b{

    text-align: center;



    padding: 10px;



}

#fotter{

    clear: both;

    text-align: center;

    height: 20px;

    width: 700px;

}

.menu #c{

    margin-left: 100px;

}