body
{
    background-color: #ccccff;
}
h1
{
    font-size: 100px;
}
#p1
{
    color: #550000;
    font-size: 50px;
}
div
{
    border-width: 3px;
    border-style: dashed;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#p2
{
    color: #2e73e5;
    font-size: 50px;
}