*{
	margin: 0px;
	padding: 0px;
}

.content{
	width: 900px;
	margin: 0px auto;
}
.bangcuuchuong{
	width: 150px;
	float: left;
	border: 1px solid #ccc;
	text-align: center;
}

.bangcuuchuong h2{
	background-color: #FCF;
	border: 1px solid #FFC;
	padding: 5px 0px;
}