.bt1 {
	max-width: 25%;
}

.bt1 h3{
	background: #feffed;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	font-size: 25px;
}
.bt1 .wrap-content{
	border: 1px solid #e6e1e1;
}


.bt1 .btn{
	color: #fff;
	margin: 10px 0;
}

.bt1 #show-error{
	color: red;
}

.bt1 #show-result{
	 color: blue;
	 font-size: 20px;
 }
@media(max-width: 576px) {
	.bt1 {
		max-width: 100%;
		padding: 0;
	}
	.bt1 form {
		padding: 15px;
	}
}
