div {
    background-color: #008000;
    margin: 0px 200px 0 200px;
    width: auto;
    height: 50px;
}

ul li {
    display: inline;
    list-style: none;
    width: 30px;
    padding: 8px;
    margin: 20px;
    font-size: 28px;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #ffa500;
}
#class1 {
    display: none;
    position: absolute;
    padding: 0px;
    left: 2px;

}

ul li:hover #class1 {
    display: block;
    background: #008000;
}
