* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@font-face {
    font-family: 'QlassikBold_TB';
    src: url("../Fonts/QlassikBold_TB.otf");
}



#first_background {
    background-color: #b1a38d;
    height: 900px;
}

#second_background {
    background-color: #4c382c;
    height: 220px;
}

#third_background {
    background-color: #d9e9ea;
    height: 80px;
}
#website_conten{
    margin-top: -110px;
}
#text-header {
    font-family: QlassikBold_TB;
    font-weight: bold;
    font-size: 26px;
    color: #3a6669;
    line-height: 80px;
    margin-left: 336px;
}
#main {
    margin: auto;
    background-color: #fefae8;
    width: 846px;
    height: 680px;
}
#banner{
    margin-top: 20px;
}
img {
    margin-left: 12px
}

#menu ul {
    background: #7b9d33;
    list-style-type: none;
    display: inline-block;
}

#menu li {
    margin-left: -5px;
    color: white;
    border-right: 1px solid white;
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block
}

#menu li:hover {
    background-color: #fefae8;
    color: #000;
}

.quote_line {
    font-family: "Times New Roman";
    font-size: 14px;
    float: left;
    display: table;
    margin-left: 30px;
    margin-top: 10px;
}

.button {
    background-color: #d69226;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    display: table;
    float: right;
    text-align: center;
    line-height: 30px;
    font-family: Arial;
    color: white;
    margin-right: 30px;
    margin-bottom: 5px;
}

hr {
    width: 96%;
    background: #e3d7c5;
    height: 1px;
    margin-left: 16px;
    margin-bottom: 5px;
}

#left {
    margin-left: 20px;
    float: left;
    width: 400px;
}
.main_header{
    font-family: Arial;
    color: #7b9d33;
    font-size: 26px;
    font-weight: bold;
}
.content-descpiption{
    font-family: Arial;
    font-size: 14px;
}
.color-content{
    color: #de9a2f;
    font-family: Arial;
    font-size: 14px;
}
#right {
    float: right;
    width: 400px;
    margin: 0 10px;
}

#footer {
    clear: both;
}
#footer ul{
    margin-left: 340px;
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
}
#footer li:last-child{
    border: none;
}
#footer li{
    margin-left: -5px;
    color: black;
    border-right: 1px solid #58473b;
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
}
#footer a{
    text-decoration: none;
    color: #58473b;

}