* {
    margin: 0;
    padding: 0;
}

/*CSS BANNER*/
#banner {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background: #333;
    padding: 15px;
    color: #fff;
}

.banner-number {
    font-size: 50px;
    position: absolute;
    top: 5px;
}

.color-common {
    color: #de7a20;
}

/*CSS MENU*/
#menu ul li {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid #333;
}

#menu ul {
    background: #666;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
}

/*CSS MAIN*/
#main-left {
    width: 70%;
    float: left;
}

#main-right {
    width: 30%;
    float: left;
}

.left-content {
    display: table;
    /*padding: 15px;*/
}

.wrap-avatar, .wrap-content {
    display: table-cell;
}

.wrap-content {
    vertical-align: top;
    padding-left: 20px;
}

.content-heading {
    margin-bottom: 10px;
}

.content-description {
    line-height: 1.6;
}

.content-readmore {
    margin: 15px 0;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.left-content-wrap {
    padding: 15px;
    margin-top: 31px;
}

hr {
    margin-top: 31px;
    margin-bottom: 31px;
}

#main-right {
    width: 30%;
    height: 682px;
    background-color: #e5e5e5;
    line-height: 2;
}

#sidebar-link {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar-heading {
    border-bottom: 0.5px solid black;
}

#sidebar-link ul li {
    list-style-type: none;
}

#sidebar-link ul a {
    text-decoration: none;
}

#other-widget {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.other-description {
    padding-top: 15px;
    line-height: 1.2;
}

#footer {
    clear: both;
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 20px;
    min-height: 50px;
}

#footer p {
    padding-top: 13px;
}