*{
	margin: 0;
	padding: 0;
}
body{
	width: 1000px;
	font-family: sans-serif;
	margin: 0px auto;
	height: 500px;
}
#scroll{
	 display:block;
     padding:5px;
     margin-top:5px;
     width:1000px;
      overflow:scroll;
      border: 1px solid gray;
      height: 500px;

}
#scroll .text{
	background: red;
	border:1px solid red;
	color: white;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
/*	position: absolute;*/
	bottom: 0;
	left: 0;
	width: 1000px;
	margin: 0px auto;
	/*position: fixed;* co dinh/
}