.container {
    width: 38%;
    margin: auto;
    padding: 10px;
}

#header {
    background-color: #feffed;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;
}
#full-content {
    margin-top: 15px;
    padding: 30px;
}

#full-content .btn {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    color: #34ce57;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
     #full-content .btn {
         width: 100%;
     }

}