.container {
    width: 30%;
    margin: auto;
    padding: 20px;
    border: 0.5px solid #5a6268;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    color: #007bff;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}