form {
    width: 55%;
    margin: 0 auto;
    padding: 20px 50px 20px 50px;
    background-color: #123048;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

input {
    background-color: #0b1c26 !important;
    border-color: #0b1c26 !important;
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-bottom: 20px;
}

#info {
    text-align: center;
}