body{
    margin: 0 auto;
    padding: 1em;
}
.wall{
    width: 1280px;
    height: 900px;
    margin-left: 160px;

}
.banner{
    height: 100px;
    background-color: #333333;
}
.banner >img{
    float: left;
}
.menu{
    text-align: center;
    height: 50px;
    background: #666666;
    margin-top: -2px;

}
#menu>ul>li>a{
    text-decoration: none;
    padding: 7px;
    color: white;
}
#menu>ul{
    list-style: none;
    float: left;
    width: 100%;
    padding-left: 0;
}

#menu>ul>li{
    display: inline-block;
    border: 1px solid;
    padding: 15px;
    float: left;
}
/*#menu>ul>li:first-child{*/
    /*margin-left: -192px;*/
/*}*/
/*#menu>ul>li:nth-child(2)*/
  /*{*/
      /*margin-left: -105px;*/
  /*}*/
/*#menu>ul>li:nth-child(3)*/
/*{*/
    /*margin-left: -18px;*/
/*}*/
/*#menu>ul>li:nth-child(4)*/
 /*{*/
     /*margin-left: -1px;*/
 /*}*/
/*#menu>ul>li:last-child{*/
    /*margin-left: -1px;*/
/*}*/
#menu>ul>li:hover{
    background-color: red;
}
.conten_left{
    float: left;
    width: 69%;

}
.conten_right{
    float: left;
    width: 31%;
    height: 654px;
    background-color: #e5e5e5;
}
.anh{
    float: left;
    margin: 3px;
}
.paragrath{
    float: left;
    margin-left: 10px;
    width: 600px;
    font-size: 16px;
    margin-top: -16px;
    line-height: 25px;

}
.conten{
    height: 200px;
}
.conten>div>a{
    color:#ef7f33;
    text-decoration: none;
}
.ke{
 width: 850px;
}
#menu2>li>a{
    text-decoration: none;
    color:#ef7f33;
}
#menu2{
    list-style: none;
    margin-left: -20px;

}
#conten111{
    width: 360px;
    margin-left: 20px;
}
#conten112{
    width: 360px;
    margin-left: 20px;
    line-height: 30px;

}
.footer{
  background-color: #333333;
    height: 50px;
   clear: both;
}