
#wrapper{
    padding-left: 20%;
    padding-right: 20%;
}
#header{

    background-color: #feffed;
}
.content{

    text-align: center;
}
.content h2{
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.input{
    padding-left: 10%;
    padding-right: 10%;
}
.input-all{
    padding-top: 5%;
}
#warning{
    padding-top: 5%;
    font-weight: bold;
    color: red;
    padding-left: 10%;
}
#result{
   color: blue;
    font-weight: bold;
    padding-left: 10%;
    padding-top: 5%;
}
