#wrapper{
    padding-left: 30%;
    padding-right: 30%;
}
#header{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #feffed ;
}
#header h2{
    text-align: center;
}
#output-equation{
    color: blue;
    font-weight: bold;
    padding-left: 10%;

}
#output-x{
    color: green;
    font-weight: bold;
    padding-left: 10%;
}
#input{
    padding-left: 10%;
    padding-right: 10%;
}
.text{
    padding-left: 10%;
}