* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("../Font/Lato-Light.ttf");
    font-family: Lato-Light;
}

@font-face {
    src: url("../Font/Lato-Regular.ttf");
    font-family: Lato-Regular;
}

@font-face {
    src: url("../Font/ReklameScript-Regular_DEMO.otf");
    font-family: ReklameScript-Regular;
}

#header {
    background-color: #262626;
}

#header-content {
    padding: 20px 60px 10px
}

#header-content img {
    float: left;
    margin-top: 9px;
}

#header-logo {
    color: #d9d9d9;
    font-family: ReklameScript-Regular;
    font-size: 30px;
    display: block;
    float: left;

}

#menu_header ul {

    background: none;
    display: inline-block;
    list-style-type: none;
    float: right;
    margin-top: 10px;
}

#menu_header li {
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Lato-Regular;
    text-transform: uppercase;
    color: #d9d9d9;
    font-size: 14px;
    font-weight: bold;
}

#menu_header a {
    text-decoration: none;
    color: #d9d9d9;
}

#menu_header a:hover {
    color: #ea6660;
    font-size: 16px;
}

#slider {
    background-color: #2a2a2a;
}

#slider-content {
    margin: 10px 0px 30px;
}

.content-1 {
    color: #d9d9d9;
    font-family: Lato-Light;
    font-size: 55px;
}

.content-2 {
    color: #d9d9d9;
    font-family: Lato-Light;
    font-size: 30px;
}

.button-see {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ea6660;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato-Regular;
    margin: 20px 0px;
}

#services {
    background-color: #f8f8f8;
}

#services-content {
    margin: 20px auto 30px;
}

.images_1 {
    display: block;
    margin: 40px auto 20px;
    height: 60px;
    width: 60px;
}

.text-content-services {
    font-family: Lato-Regular;
    color: #616161;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}

.text-decoration-services {
    font-size: 13px;
    font-family: Lato-Light;
    color: #616161;
    text-align: center;
}

.text-header-portfolio {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: Lato-Regular;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #595959;
}

.text-note-portfolio {
    font-family: Lato-Light;
    font-size: 14px;
    color: #595959;
    text-align: center;
}

.button-port {
    background-color: #ea6660;
    padding: 10px 20px;
    border: 0px;
    font-size: 10px;
    border-radius: 5px;
    font-family: Lato-Regular;
    font-weight: bold;
    color: white;
    margin: 15px 2px;
}

.button-port:hover {
    background-color: #595959;
}

#main-portfolio {
    margin: 10px auto;
}

.images-portfolio {
    width: 100%;
    height: 200px;
    padding: 10px 0px;
    /*margin: 0px -5px;*/
}

#footer {
    background-color: #313131;
}

#main-footer {
    margin: 10px 0px 40px;
}

.text-header-footer {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: Lato-Regular;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
}

.text-note1-footer {
    font-family: Lato-Light;
    font-size: 16px;
    color: #e0e0e0;
    text-align: center;
}

.text-note2-footer {
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #e0e0e0;
}

.color {
    color: #ea6660;
}

.images-footer {
    height: 30px;
    width: 30px;
    margin: 5px 2px;
}

#copyright {
    background-color: #2c2c2c;
}

#main-copy {
    margin: 30px 0px 30px;
}

#copyright-text {
    color: #bebebe;
    font-family: Lato-Regular;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
}

/*.......................................................*/
@media (max-width: 576px) {
    #header-content {
        padding: 20px 5px 10px
    }

    #header-content img {
        float: left;
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }

    #header-logo {
        color: #d9d9d9;
        font-family: ReklameScript-Regular;
        font-size: 25px;
        display: block;
        float: left;

    }

    #menu_header ul {

        background: none;
        display: inline-block;
        list-style-type: none;
        float: right;
        margin-top: 10px;
    }

    #menu_header li {
        display: inline-block;
        width: 65px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-family: Lato-Regular;
        text-transform: uppercase;
        color: #d9d9d9;
        font-size: 10px;
        font-weight: bold;
    }

    #menu_header a {
        text-decoration: none;
        color: #d9d9d9;
    }

    #menu_header a:hover {
        color: #ea6660;
        font-size: 12px;
    }

    #slider-content {
        margin: 10px 0px 20px;
    }

    .content-1 {
        color: #d9d9d9;
        font-family: Lato-Light;
        font-size: 35px;
    }

    .content-2 {
        color: #d9d9d9;
        font-family: Lato-Light;
        font-size: 16px;
    }

    .button-see {
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #ea6660;
        color: white;
        font-size: 9px;
        line-height: 30px;
        font-weight: bold;
        font-family: Lato-Regular;
        margin: 20px 0px;
    }

    #services-content {
        margin: 0px auto 20px;
    }

    .text-header-portfolio {
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: Lato-Regular;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #595959;
    }

    .text-note-portfolio {
        font-family: Lato-Light;
        font-size: 13px;
        color: #595959;
        text-align: center;
    }

    .button-port {
        background-color: #ea6660;
        padding: 10px 15px;
        border: 0px;
        font-size: 8px;
        border-radius: 5px;
        font-family: Lato-Regular;
        font-weight: bold;
        color: white;
        margin: 10px 2px;
    }

    .images-portfolio {
        width: 100%;
        height: 100px;
        padding: 10px 0px;
        /*margin: 0px -5px;*/
    }

    #main-footer {
        margin: 10px 0px 20px;
    }

    .text-header-footer {
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: Lato-Regular;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #e0e0e0;
    }

    .text-note1-footer {
        font-family: Lato-Light;
        font-size: 13px;
        color: #e0e0e0;
        text-align: center;
    }

    .text-note2-footer {
        font-family: Lato-Regular;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        color: #e0e0e0;
    }

    .images-footer {
        height: 25px;
        width: 25px;
        margin: 5px 2px;
    }

    #main-copy {
        margin: 20px 0px 20px;
    }

    #copyright-text {
        color: #bebebe;
        font-family: Lato-Regular;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 10px;
    }
}